<!DOCTYPE html>
<html ng-app="testTask" ng-controller="MainCtrl">
  <head>
    <base href="/"/>
    <meta charset="utf-8" />
    <title ng-bind="page.title">GitHub informer</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    
    <link rel="stylesheet" href="style.css" />
	  
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	  <script src="https://code.angularjs.org/1.5.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	  
	  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
	  
    <script src="/app.js"></script>
  </head>

  <body>
    <md-toolbar>
      <div class="md-toolbar-tools max_width">
        <md-button class="md-raised" aria-label="goback" ng-click="back()" ng-show="page.url !== '/'">Назад</md-button>
        <h1 class="in_center" ng-bind="page.title"></h1>
      </div>
    </md-toolbar>
    
	  <div class="content max_width ovelflowx_hidden">
	    <md-progress-linear md-mode="indeterminate" ng-show="downloading"></md-progress-linear>
  	  <div class="move">
  	    <!-- Контент страницы. -->
      	<ng-view ng-show="!downloading"></ng-view>
  	  </div>
	  </div>
  </body>

</html>
