body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #696969;
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

button {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgb(250,250,250);
    cursor: pointer;
    min-width: 88px;
    line-height: 36px;
    border-radius: 2px;
    border: 0;
    padding: 0 6px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-family: inherit;
    user-select: none;
    outline: none;
}

span.back {
    top: 0px;
}

.btn {
    text-align: center;
    background-color: rgb(16,108,200);
    box-shadow: 2px 4px 5px 0 rgba(0,0,0,.5);
    border-radius: 2px;
    cursor: pointer;
    height: 47px;
    line-height: 47px;
    width: 100px;
    color: #ffffff;
    position: absolute;
}



.btn:hover {
    box-shadow: 0px 2px 3px 0 rgba(0,0,0,.5);
}

.max_width {
    max-width: 1100px;
    margin: auto;
}

.max_width_500 {
    max-width: 500px;
    margin: auto;
}

.move {
    left: 100%;
    transition: left 0.5s cubic-bezier(0, 0, 1, 1);
    position: relative;
}

.ovelflowx_hidden{
    overflow-x: hidden;
}

.greybg {
    background: rgba(204, 204, 204, 0.3);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.6);
    padding: 10px;
}

.in_center{
    text-align: center;
    width: 100%;
}

.content {
    margin-top: 20px;
    position: relative;
}

.content  .data_cont {
    margin: 10px;
}

/* Блок одного пользователя. */
.one_user {
    width: 20%;
    display: inline-block;
    position: relative;
}

.one_user img {
    width: 94%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.6);
    margin: 3%;
    opacity: 0.5;
    filter: blur(1px);
}

.one_user:hover img {
    opacity: 1;
    filter: blur(0px);
    cursor: pointer;
}

.one_user .login {
    position: absolute;
    margin-left: 10%;
    bottom: 10%;
    width: 80%;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
}

.one_user .login:hover {
    cursor: pointer;
}

.one_user .login span {
    cursor: pointer;
    
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 0 0 15px #999;
    color: transparent;
    transition: all 0.2s;
}

.one_user:hover .login {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 1px 1px 10px #000;
}

.one_user:hover .login span {
    text-shadow: 0 0 0 #333;
}

.transition {
    transition: 0.1s;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

.bl {
    text-transform: uppercase;
}

.list {
    
}

/* Страница "Пользователь". */
    /* Аватар. */
        .data_cont.user {
            display: flex;
        }
        
        .user .avatar {
            width: 300px;
            height: 300px;
            position: relative;
        }
        
        .user .avatar img {
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.6);
            width: 100%;
        }
        
        .user .avatar .text {
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 5px;
            box-shadow: 1px 1px 10px #000;
            font-size: 16px;
            font-weight: normal;
            color: transparent;
            transition: all 0.2s;
            text-shadow: 0 0 0 #333;
            text-align: center;
            padding: 5px;
        }
        
        .user .avatar .login {
            top: 50px;
            left: 10px;
            position: absolute;
        }
        
        .user .avatar .name {
            top: 10px;
            left: 10px;
            position: absolute;
        }
    /* --- Аватар. */
    
    /* Список. */
        .user .list {
            display: inline-block;
            margin-left: 20px;
            width: 70%;
        }
        
        .user .list h4 {
            height: 30px;
            line-height: 30px;
            margin: 0;
            border-top: 1px solid rgba(204, 204, 204, 0.3);
            margin-right: 20px;
        }
        
        .user .list ol {
            height: 250px;
            overflow: auto;
            margin: 0;
            margin-right: 20px;
            background: rgba(204, 204, 204, 0.3);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.6);
            padding: 10px 0px 10px 40px;
        }
        
        .user .list ol li{
        
        }
        
        .user .list ol li a{
        
        }
        
        /* Скрол для списка .*/
            .user .list ol::-webkit-scrollbar{
                width: 6px;
                height: 6px;
            }
            .user .list ol::-webkit-scrollbar-thumb{
                border-width:0px 0px 0px 0px;
                border-color: rgba(0, 0, 0, 0.0);
                background-color: rgba(39, 113, 174, 0.5);
            }
            .user .list ol::-webkit-scrollbar-thumb:hover{
                border-width:0px 0px 0px 0px;
                border-color: rgba(0, 0, 0, 0.0);
                background-color: rgba(39, 113, 174, 1);
            }
            .user .list ol::-webkit-scrollbar-track{
                border-width:0px;
                background-color: rgba(255, 255, 255, 0.2);
            }
            .user .list ol::-webkit-scrollbar-track:hover{
                border-left: solid 0px #aaa;
                background-color: rgba(255, 255, 255, 0.4);
            }
        /* --- Скрол для списка . */
    /* --- Список. */
/* --- Страница "Пользователь". */

/* Если меньше 800 пикселя. */
    @media only screen and (max-width: 800px) {
        .one_user {
            width: 33.3333%;
        }
        
        .one_user .login span {
            font-size: 14px;
        }
    }
/* Если меньше 800 пикселя. */

/* Если меньше 500 пикселя. */
    @media only screen and (max-width: 500px) {
        .one_user {
            width: 50%;
        }
        
        .md-toolbar-tools h1 {
            font-size: 14px;
        }
    }
/* Если меньше 500 пикселя. */

/* Если меньше 400 пикселя. */
    @media only screen and (max-width: 400px) {
        .data_cont.user {
            display: block;
        }
        
        .user .avatar {
            width: 96%;
            height: inherit;
            margin-left: 2%;
            margin-right: 2%;
        }
        
        .user .list {
            display: block;
            margin-left: 2%;
            margin-right: 2%;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 98%;
        }
        
        .user .list h4 {
            margin-right: inherit;
        }
        
        .user .list ol {
            height: inherit;
            margin-right: inherit;
        }
    }
/* Если меньше 400 пикселя. */

/* Если меньше 300 пикселя. */
    @media only screen and (max-width: 300px) {
        .one_user {
            width: 100%;
        }
    }
/* Если меньше 300 пикселя. */