<div ng-controller="CommitsCtrl" class="data_cont">
    <div class="list max_width_500 greybg">
        <ol>
            <li ng-repeat="commit in commits">{{commit.commit.message}}</li>
        </ol>
    </div>
</div>