<div ng-controller="RepoCtrl" class="data_cont">
    <!-- Имя автора.-->
    <h3>Автор: {{username}}</h3>
    
    <div class="list" ng-show="branches">
        <h4>Список веток:</h4>
        <ol>
            <li ng-repeat="branch in branches">{{branch.name}}</li>
        </ol>
    </div>
    
    <md-button class="md-raised md-primary" aria-label="getrepo" ng-click="getRepo()">Commits</md-button>
</div>