<div ng-controller="UserCtrl" class="data_cont user">
    <!-- Аватар. -->
    <div class="avatar">
        <img class="transition" ng-show="user.avatar_url" ng-src="{{user.avatar_url}}" />
        <!-- Имя. -->
        <div class="name text">{{user.name ? user.name : '.. нет имени ..'}}</div>
        <!-- Логин. 
        <div class="login text">Логин: {{user.login}}</div> -->
    </div>
    
    <!-- Список репозиториев пользователя. -->
    <div class="list" ng-show="repos">
        <h4>Репозитории пользователя: </h4>
        <p ng-show="repos.length === 0">У пользователя нет репозиториев.</p>
        <ol ng-show="repos.length !== 0">
            <li ng-repeat="repo in repos" ng-show="repo.name">
                <a href="{{'/repo?name='+ repo.name + '&login=' + user.login + '&username=' + user.name}}">{{repo.name}}</a>
            </li>
        </ol>
    </div>
</div>