<div ng-controller="UsersCtrl" class="data_cont">
    <!-- Пользователи. -->
    <div ng-repeat="user in users" class="one_user" ng-show="users && user.avatar_url">
        <a href="/users/{{user.login}}">
            <img class="transition" ng-show="user.avatar_url" ng-src="{{user.avatar_url}}" />
            <div class="login"><span class="bl">{{user.login}}</span></div>
        </a>
    </div>
</div>